.global{
    position: relative;
    margin: 30px auto;
    width: 90%;

    &_title{
        color: #92a4b1
    }

    &_list{  
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        &-cartoons, &-anime, &-series, &-films{
            overflow-x: scroll;
            padding: 20px 60px;
            overflow: hidden;
            gap: 10px;
            scroll-behavior: smooth;
            display: flex;
        }

        &-item{
            border-radius: 5px;
            padding: 30px;
            background-color: rgba(0, 0, 0, 0.2);
            width: 300px;
            height: auto;
            
            &:hover{
                transition: 0.3s all;
                background-color: rgba(0, 0, 0, 0.5);
            }

            &-img{
                img{
                    width: 210px;
                    height: 300px;
                }
            }

            &-title{
                color: #92a4b1;
                margin: 15px 15px 0 15px;
                font-weight: 500;
                font-size: 17px;
                &:hover{
                    color: #fff;
                }
            }
        }
    }
}

.genres{

    margin-top: 30px;
    & h3{
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: 40px;
        text-align: center;
    }
    &_list{
        padding: 0 200px;
        display: flex;
        gap: 10px;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 50px;

        &-item{

            button{
                padding: 5px 30px;
                font-size: 16px;
                border-radius: 10px;
                color: #92a4b1;
                border: 3px solid rgba(0, 0, 0, 0.05);
                background-color: rgba(0, 0, 0, 0.2);

                &:hover{
                    color: #fff;
                    background-color: rgba(0, 0, 0, 0.5);
                }
                // border: none;
            }
        }
    }
}