.logo{
    color: #92a4b1;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 15%;
    &:hover{
        color: white;
    }
}

.nav_main{
    top: 0;
    z-index: 2;
    position: sticky;
    backdrop-filter: blur(20px);
    background: #00000077;
} 

.nav_item{
    align-self: center;
    padding: 5px 10px;
    border-radius: 3px;
    color: #92a4b1;
    font-size: 18px;
    &:hover{
        background-color: #141414;
        color: rgb(255, 255, 255);
    }
}

.me-auto{
    display: flex;
    gap: 20px;
}
.nav-link{
    color: #92a4b1;
    font-size: 20px;
    &:hover{
        color: white;
    }
}

.dropdown-menu{
    background-color: #000;
}

.navbar-nav .show>.nav-link{
    color: white;

}